---
import { TZDate } from "@date-fns/tz";
import { getCollection } from "astro:content";
import type { Event } from "../event";
import { local_date } from "../event";
import EventPreview from "../components/EventPreview.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const now = new Date();
const today = new TZDate(
  now.getUTCFullYear(),
  now.getUTCMonth(),
  now.getUTCDate(),
  "America/Phoenix",
);

let events: Event[] = await getCollection("events");
events.sort((a, b) => {
  return local_date(a).valueOf() - local_date(b).valueOf();
});
events = events.filter((event) => {
  if (local_date(event) < today) {
    return undefined;
  } else {
    return event;
  }
});
events = events.slice(0, 4);
---

<BaseLayout>
  <section class="section">
    <h2>Welcome</h2>
    <p>
      Copperstate4Wheelers (CS4W) is a family friendly 4x4
      club based in Phoenix, AZ. We try to get offroad about
      two times each month and have a monthly club meeting.
      CS4W does a variety of offroading including
      beginner-friendly runs all the way up to expert-only
      rock crawling and everything in between!
    </p>
    <p>
      Want to learn more? Check out some of our upcoming
      events. Most are open to the public and visitors are
      always welcome!
    </p>
  </section>

  <section class="section">
    <h2>Upcoming Events</h2>
    <ul>
      {
        events.map((event) => (
          <li>
            <EventPreview event={event} />
          </li>
        ))
      }
    </ul>

    <div class="more-events">
      <a href="/events/">All Events -></a>
    </div>

  </section>
</BaseLayout>

<style>
  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  li + li {
    padding-top: 2rem;
  }

  .more-events {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1rem;

    a {
      text-decoration: none;
      color: var(--highlight);
      font-weight: 500;
      font-size: var(--fs-500);
      font-family: var(--font-title);
    }
  }
</style>
