---
import { TZDate } from "@date-fns/tz";
import { format } from "date-fns";
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
const events = await getCollection("events");
events.sort((a, b) => {
  return a.data.date.valueOf() - b.data.date.valueOf();
});

/// Transforms a native date object to the correct value in the local timezone.
/// This is needed because Zod parses dates in frontmatter in the UTC timezone.
function local_date(date: Date): TZDate {
  return new TZDate(
    date.getUTCFullYear(),
    date.getUTCMonth(),
    date.getUTCDate(),
    "America/Phoenix"
  );
}

function humanized_date(date: TZDate): string {
  return format(date, "eeee, MMM do");
}
---

<BaseLayout>
  <section class="section">
    <h2>Welcome</h2>
    <p>
      Copperstate4Wheelers (CS4W) is a family friendly 4x4 club based in
      Phoenix, AZ. We try to get offroad about two times each month and have a
      monthly club meeting. CS4W does a variety of offroading including
      beginner-friendly runs all the way up to expert-only rock crawling and
      everything in between!
    </p>
    <p>
      Want to learn more? Check out some of our upcoming events. Most are open
      to the public and visitors are always welcome!
    </p>
  </section>

  <section class="section">
    <h2>Upcoming Events</h2>
    <ul>
      {
        events.map((event) => (
          <li>
            <a href={`events/${event.id}`} data-astro-prefetch>
              {event.data.title} | {humanized_date(local_date(event.data.date))}{" "}
              | {event.data.time}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
