---
import AboutLayout from "@layouts/AboutLayout.astro";
import { Image } from "astro:assets";

import workday from "@assets/pages/about/bulldog-canyon/workday.jpg";
import logo from "@assets/pages/about/bulldog-canyon/bulldog-canyon-logo.jpg";
import canyonMap from "@assets/pages/about/bulldog-canyon/bulldog-canyon-map.jpg";
---

<AboutLayout title="Bulldog Canyon">
  <Image src={logo} alt="CS4W Bulldog Canyon TRAL logo" class="bulldog-logo" />

  <p>
    Our club is very proud to announce we have adopted the Bulldog Canyon OHV
    area. We periodically visit the area through the year, often working with
    TRAL or the Tonto National Forest.
  </p>

  <p>
    The Bulldog Canyon OHV area is part of the Tonto National Forest (map below)
    and can be accessed upon purchasing a pass from the <a
      href="https://www.fs.usda.gov/r03/tonto/recreation/groups/bulldog-canyon-ohv-permit-zone"
    >
      Tonto website.
    </a>
  </p>

  <a
    href="https://www.fs.usda.gov/r03/tonto/recreation/groups/bulldog-canyon-ohv-permit-zone"
  >
    <Image
      src={canyonMap}
      alt="Bulldog Canyon OHV area map."
      class="bulldog-map"
    />
  </a>
</AboutLayout>

<style>
  .bulldog-logo {
    width: 15ch;
    max-width: 40%;
    float: right;
    border-radius: 1rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
  }

  .bulldog-map {
    margin-block: 1rem;
    border: 0.2rem solid var(--primary);
  }
</style>
