---
import AboutLayout from "@layouts/AboutLayout.astro";
---

<AboutLayout title="CS4W: Contact Us">
  <h3>Contact Us</h3>

  <p>
    Send us an email at <a href="mailto:copperstate4wheelers@yahoo.com">
      copperstate4wheelers@yahoo.com
    </a>
  </p>

  <p>
    Or come a to club meeting (see the <a href="/events">events calendar</a>).
    The club meets on the second Thursday of every month. Guests are always
    welcome to walk right in!
  </p>

  <h3>Meeting Location</h3>

  <address>
    Mesa Fire & Medical Department - Station 201<br />
    360 E 1st St<br />
    Mesa, AZ 85201
  </address>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39917.222253490436!2d-111.84872155597118!3d33.41819295015477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872ba60ea060432f%3A0xd9e9d938e8a6575b!2sMesa%20Fire%20%26%20Medical%20Department%20-%20Station%20201!5e0!3m2!1sen!2sus!4v1735792549616!5m2!1sen!2sus"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</AboutLayout>

<style>
  address {
    font-size: 1.25rem;
    text-align: center;
    margin-block: 2rem;
  }

  p {
    word-break: break-word;
  }
</style>
