---
import AboutLayout from "@layouts/AboutLayout.astro";
---

<AboutLayout title="How To Join">
  <section>
    <p>In short:</p>

    <ul>
      <li>Own a 4x4 vehicle that you are licensed to drive</li>
      <li>Come to club meetings a few times a year</li>
      <li>Join the club on some runs</li>
      <li>
        Submit a <a href="/copperstate4wheelers_membership_application.pdf">
          membership application
        </a> at the next club meeting
      </li>
    </ul>

    <p>
      The club bylaws (see below) specify the complete requirements for joining
      and should always be referenced in case of confusion!
    </p>

    <h3>Dues</h3>

    <p>
      There is a $5 membership application fee, which is paid when you submit
      the form. From then on, each club member pays a $50 membership fee to
      maintain the club's presence in the Arizona 4 Wheel Drive Association, our
      club's first-aid kits, and other upkeep discussed at meetings.
    </p>
  </section>

  <section class="bylaw-details">
    <h3><a href="/copperstate4wheelers_bylaws.pdf">Bylaws</a></h3>

    <p>
      What follows are the relevant excerpts from the club bylaws on how to
      join:
    </p>

    <h4>GENERAL REQUIREMENTS:</h4>

    <ol>
      <li>
        ONLY THOSE PERSONS LEGALLY RESPONSIBLE FOR MAINTAINING A CURRENTLY
        REGISTERED AND INSURED FOUR WHEEL DRIVE VEHICLE WITH A MANUFACTURER’S
        DRY CURB WEIGHT OF AT LEAST TWO THOUSAND (2000) POUNDS OR GREATER ARE
        ELIGIBLE FOR MEMBERSHIP IN THE COPPERSTATE 4-WHEEL DRIVE CLUB.
        <ol>
          <li>
            MEMBERS NO LONGER RESPONSIBLE FOR A FOUR WHEEL DRIVE VEHICLE SHALL
            REPLACE IT WITHIN 12 MONTHS IN ORDER TO "MAINTAIN THEIR MEMBERSHIP."
          </li>
          <li>
            "LEGALLY RESPONSIBLE," INCLUDES MAINTAINING CURRENT REGISTRATION,
            INSURANCE, AND MAINTENANCE OF THAT VEHICLE.
          </li>
        </ol>
      </li>

      <li>EACH MEMBERSHIP INCLUDES THE IMMEDIATE FAMILY.</li>

      <li>
        ALL MEMBERS MUST CONDUCT THEMSELVES IN A RESPONSIBLE, RESPECTABLE, AND
        ORDERLY FASHION WHEN ASSOCIATED WITH CLUB ACTIVITIES.
      </li>

      <li>
        ALL MEMBERS SHALL BE 18 YEARS OF AGE OR OLDER, HAVE A VALID, CURRENT
        DRIVER’S LICENSE.
      </li>

      <li>
        REVIEW AND SIGN THE APPLICATION CONFIRMING THAT THEY HAVE READ,
        UNDERSTAND, AND WILL ABIDE BY THE CLUB BYLAWS.
      </li>
    </ol>

    <h4>OBTAINING MEMBERSHIP:</h4>
    <ol>
      <li>
        AN APPLICANT FOR MEMBERSHIP CAN OBTAIN AN APPLICATION FROM THE CLUB
        SECRETARY AS WELL AS A COPY OF THE CLUB BYLAWS.
      </li>

      <li>
        APPLICANTS FOR MEMBERSHIP MUST:
        <ol>
          <li>
            MEET MEMBERSHIP REQUIREMENTS RELATED TO AGE, LICENSE, REGISTRATION
            AND INSURANCE
          </li>
          <li>
            ATTEND TWO GENERAL MEMBERSHIP MEETING AND DRIVE TWO MONTHLY RUN.
          </li>
        </ol>
        THIS REQUIREMENT MUST BE COMPLETED WITHIN A PERIOD NOT TO EXCEED THREE (6)
        CALENDAR MONTHS. EXCEPTION TO THIS REQUIREMENT MAY BE MADE BY A DECISION
        OF THE BOARD OF DIRECTORS.
      </li>
    </ol>

    <p>DUES: $50 per year.</p>
  </section>
</AboutLayout>

<style>
  .bylaw-details {
    font-size: var(--fs-400);
    line-height: 1.5;
  }

  ol ol {
    list-style-type: lower-alpha;
  }
</style>
