---
import AboutLayout from "@layouts/AboutLayout.astro";
import { Image } from "astro:assets";

import logo from "@assets/site/copperstate_logo.png";
---

<AboutLayout title="Club Info">
  <p>
    Copperstate 4 Wheelers was formed and incorporated March 31, 1972 by a group
    of families to promote safe enjoyable family style 4 wheeling. We operate as
    a non-profit dues paying club with elected officers and democratic
    participation by all members families. Our club meets monthly to carry out
    routine club business, plan activities, and socialize. This club is
    dedicated to the premise that our environment and our outdoor heritage must
    be protected. Guests and members alike are expected to be conscientious in
    this respect, leaving nothing on a trip but a few tire tracks.
  </p>

  <Image
    src={logo}
    alt="Copperstate4Wheelers Club Logo"
    width="512"
    class="logo-image"
  />

  <h3>Officers</h3>
  <ul>
    <li><span class="officer-role">President: </span>Jim Nossett</li>
    <li><span class="officer-role">Vice President: </span>Kenny Blum</li>
    <li><span class="officer-role">Treasurer: </span>Chris DePoorter</li>
    <li><span class="officer-role">Secretary: </span>Elisabeth Swanson</li>
    <li><span class="officer-role">Board Member: </span>Roland Silva</li>
    <li><span class="officer-role">Board Member: </span>Ron Block</li>
    <li><span class="officer-role">Board Member: </span>Paul Yakaitis</li>
  </ul>

  <h3>Bylaws</h3>

  <p>
    The club's official bylaws are available
    <a href="/copperstate4wheelers_bylaws.pdf" target="_blank">here</a>, or by
    request to the club president or club secretary.
  </p>
</AboutLayout>

<style>
  .logo-image {
    display: block;
    float: right;
    width: 15rem;
    max-width: 85%;
  }

  .officer-role {
    font-weight: 500;
  }
</style>
