---
import AboutLayout from "@layouts/AboutLayout.astro";
---

<AboutLayout title="Request A Run">
  <p>
    Anyone in the club can request a run. If you have something you'd like to
    do, please let us know! The process is simple:
  </p>

  <ul>
    <li>
      Do a little research about the run, know where it starts and ends, how
      long it is, and what obstacles we'll expect to encounter.
    </li>
    <li>
      Please fill out the
      <a href="/copperstate4wheelers_club_trail_submission.pdf">
        Club Trail Submission Form
      </a> and email it to
      <a href="mailto:copperstate4wheelers@yahoo.com">
        copperstate4wheelers@yahoo.com
      </a> or print it out and bring it to the next club meeting.
    </li>
  </ul>

  <h3>Trail Leader</h3>

  <p>
    Typically, the person who requests the run is also the trail leader. The
    trail leader is in charge of the group and maintains order among all members
    and guests on the trip. If uncomfortable leading a trail, you can still
    request a run! Just let us know, and we'll find someone to help lead the
    trip.
  </p>
</AboutLayout>

<style></style>
