---
import AboutLayout from "@layouts/AboutLayout.astro";
---

<AboutLayout title="CS4W: Standard Requirements">
  <h3>Required Gear</h3>

  <p></p>

  <ul>
    <li>4x4 capable vehicle</li>
    <li>recovery gear you might need (static strap, soft shackle, etc...)</li>
    <li>water (~1 gallon per person per day in the desert)</li>
    <li>lunch, snacks, always bring extra</li>
    <li>tools and relevant repair equipment based on your needs</li>
  </ul>
</AboutLayout>

<style></style>
