---
import AboutLayout from "@layouts/AboutLayout.astro";
import logo from "@assets/site/copperstate_logo.png";
import { getImage } from "astro:assets";

const logo_src = (await getImage({ src: logo, format: "png" })).src;
---

<AboutLayout title="Request A Run">
  <p>
    Anyone in the club can request a run. If you have something you'd like to
    do, please let us know! The process is simple:
  </p>

  <ul>
    <li>
      Do a little research about the run, know where it starts and ends, how
      long it is, and what obstacles we'll expect to encounter.
    </li>
    <li>
      Please fill out the
      <a href="/copperstate4wheelers_club_trail_submission.pdf">
        Club Trail Submission Form
      </a> and email it to
      <a href="mailto:copperstate4wheelers@yahoo.com">
        copperstate4wheelers@yahoo.com
      </a> or print it out and bring it to the next club meeting.
    </li>
  </ul>

  <h3>Trail Leader</h3>

  <p>
    Typically, the person who requests the run is also the trail leader. The
    trail leader is in charge of the group and maintains order among all members
    and guests on the trip. If uncomfortable leading a trail, you can still
    request a run! Just let us know, and we'll find someone to help lead the
    trip.
  </p>

  <h3>Trail Submission Form</h3>

  <form id="print-form" data-logo={logo_src}>
    <div class="form-group">
      <label for="trail-name">Trail Name:</label>
      <input type="text" id="trail-name" placeholder="Trail Name" />
    </div>

    <div class="form-group">
      <label for="date-of-run">Date Of Run:</label>
      <input type="date" id="date-of-run" />
    </div>

    <div class="form-group">
      <label for="meeting-time">Meeting Time:</label>
      <input type="time" id="meeting-time" value="08:00" step="600" />
    </div>

    <div class="form-group">
      <label for="meeting-location">Meeting Location:</label>
      <input type="text" id="meeting-location" placeholder="Meeting location" />
    </div>

    <div class="form-group">
      <label for="permits-required">Permits Required:</label>
      <input
        type="text"
        id="permits-required"
        placeholder="Permits Required (N/A if none)"
      />
    </div>

    <div class="form-group">
      <label for="vehicular-requirements">Vehicular Requirements:</label>
      <textarea
        id="vehicular-requirements"
        autocomplete="true"
        spellcheck="true"
        rows="3"
        placeholder='4x4, 33" tires, rear locker, etc... '
        maxlength="250"></textarea>
    </div>

    <div class="form-group">
      <label for="invite">Invite:</label>
      <select name="invite" id="invite" required>
        <option value="open" selected>Guests Welcome</option>
        <option value="members-only">Members Only</option>
        <option value="invite-only">Invite Only</option>
      </select>
    </div>

    <button type="submit"> Print / Save </button>
  </form>

  <script>
    import jsPDF from "jspdf";
    import { DateTime } from "luxon";

    const margin = 1;
    const left = margin;
    const right = 8.5 - margin;
    const underline_offset = 0.05;
    const font = "times";

    const print_form = document.getElementById("print-form")!;
    print_form.addEventListener("submit", (event) => {
      event.preventDefault();

      const trail_name = (
        document.getElementById("trail-name")! as HTMLInputElement
      ).value!;

      const date_of_run = (() => {
        const date_string =
          (document.getElementById("date-of-run")! as HTMLInputElement).value ||
          DateTime.now().toFormat("yyyy-MM-dd");
        const date = DateTime.fromFormat(date_string, "yyyy-MM-dd", {
          zone: "America/Phoenix",
        });
        return date.toLocaleString(DateTime.DATE_HUGE);
      })();

      const time_of_run = (() => {
        const time_string =
          (document.getElementById("meeting-time")! as HTMLInputElement)
            .value || DateTime.now().toFormat("HH:mm");
        const time = DateTime.fromFormat(time_string, "HH:mm", {
          zone: "America/Phoenix",
        });
        return time.toLocaleString(DateTime.TIME_SIMPLE);
      })();

      const meeting_location = (
        document.getElementById("meeting-location")! as HTMLInputElement
      ).value!;

      const permits_required = (
        document.getElementById("permits-required")! as HTMLInputElement
      ).value!;

      const vehicular_requirements = (
        document.getElementById(
          "vehicular-requirements",
        )! as HTMLTextAreaElement
      ).value!;

      const invite = (document.getElementById("invite")! as HTMLSelectElement)
        .value!;

      let doc = new jsPDF("p", "in", "letter");

      // Writes left-aligned text + a full-width underline
      const text_line = (text: string, y: number) => {
        doc.text(text, left, y);
        doc.line(left, y + underline_offset, right, y + underline_offset);
      };

      doc.setFont(font, "normal");
      doc.setFontSize(14);
      doc.setLineWidth(0.0125);

      doc.addImage(print_form.dataset.logo!, "PNG", 0.5, 0.5, 1.5, 1.5);

      doc.text(
        ["Copperstate 4 Wheelers, Inc", "www.copperstate4wheelers.com"],
        8,
        0.75,
        { align: "right" },
      );

      doc.setFont(font, "bold");
      doc.setFontSize(22);
      doc.text("Club Trail Submission Form:", 3.25, 2);

      text_line("Trail Name:", 3);
      text_line("Date Of Run:", 3.5);
      text_line("Meeting Time:", 4);
      text_line("Meeting Location:", 4.5);
      text_line("Permits Required:", 5);
      doc.text("Vehicular Requirements:", left, 5.5);

      doc.text("Members Only:", left, 7.5);
      doc.circle(3.5, 7.35, 0.25);
      doc.text("Open:", 4, 7.5);
      doc.circle(5.35, 7.35, 0.25);
      doc.text("Invite:", 6, 7.5);
      doc.circle(7.5, 7.35, 0.25);

      text_line("President", 8.5);
      text_line("Vice President:", 9);
      text_line("Treasurer:", 9.5);
      text_line("Secretary:", 10.0);

      // form data
      doc.setFontSize(14);
      doc.setFont(font, "normal");
      doc.text(trail_name, 3, 3);
      doc.text(date_of_run, 3, 3.5);
      doc.text(time_of_run, 3.5, 4);
      doc.text(meeting_location, 3.5, 4.5);
      doc.text(permits_required, 3.5, 5);
      doc.text(
        doc.splitTextToSize(vehicular_requirements, 8.5 - margin * 2),
        margin,
        5.8,
      );

      if (invite == "members-only") {
        doc.text("X", 3.5, 7.5);
      } else if (invite == "open") {
        doc.text("X", 5.35, 7.5);
      } else if (invite == "invite-only") {
        doc.text("X", 7.35, 7.5);
      }

      // Add subsequent pages, always blank to be filled in on the day-of
      doc
        .addPage("letter", "p")
        .addImage("/trail_submission_page_2.png", "PNG", 0, 0, 8.5, 11)
        .addPage("letter", "p")
        .addImage("/trail_submission_page_3.png", "PNG", 0, 0, 8.5, 11);

      // save/print the document
      doc.save("trail-submission.pdf");
    });
  </script>
</AboutLayout>

<style>
  input,
  textarea {
    min-width: 0;
  }

  form {
    font: inherit;
    display: grid;

    gap: var(--fs-400);

    .form-group {
      display: grid;
    }

    label {
      text-transform: uppercase;
      font-size: var(--fs-300);
    }

    select {
      width: fit-content;
    }

    button[type="submit"] {
      width: fit-content;
      padding: 0.5rem 1rem;
      background: var(--accent);
      border: 0px;
    }

    input[type="date"],
    input[type="time"] {
      width: fit-content;
    }
  }
</style>
