---
import AboutLayout from "@layouts/AboutLayout.astro";
---

<AboutLayout title="Required Gear">
  <p>
    While every run is different, the following list is a good starting point
    for most runs:
  </p>

  <ul>
    <li>a 4x4 capable vehicle</li>
    <li>
      any recovery gear you might need (static strap, soft shackle, winch,
      etc...)
    </li>
    <li>water (~1 gallon per person per day in the desert)</li>
    <li>food, snacks, always bring a little extra just in case</li>
    <li>tools and any relevant repair equipment based on your needs</li>
    <li>GMRS radio</li>
  </ul>

  <p>
    When in doubt, check the event listing or come to the next club meeting to
    ask questions!
  </p>
</AboutLayout>

<style></style>
