---
import AboutLayout from "@layouts/AboutLayout.astro";
---

<AboutLayout title="Request A Run">
  <p>
    Anyone in the club can request a run. If you have something you'd like to
    do, please let us know! The process is simple:
  </p>

  <ul>
    <li>
      Do a little research about the run, know where it starts and ends, how
      long it is, and what obstacles we'll expect to encounter.
    </li>
    <li>
      Please fill out the
      <a href="/copperstate4wheelers_club_trail_submission.pdf">
        Club Trail Submission Form
      </a> and email it to
      <a href="mailto:copperstate4wheelers@yahoo.com">
        copperstate4wheelers@yahoo.com
      </a> or print it out and bring it to the next club meeting.
    </li>
  </ul>

  <h3>Trail Leader</h3>

  <p>
    Typically, the person who requests the run is also the trail leader. The
    trail leader is in charge of the group and maintains order among all members
    and guests on the trip. If uncomfortable leading a trail, you can still
    request a run! Just let us know, and we'll find someone to help lead the
    trip.
  </p>

  <h3>Trail Submission Form</h3>

  <form id="event-details">
    <div class="form-group">
      <label for="trail_name">Trail Name:</label>
      <input type="text" id="trail_name" placeholder="Trail Name" />
    </div>

    <div class="form-group">
      <label for="date_of_run">Date Of Run:</label>
      <input type="date" id="date_of_run" />
    </div>

    <div class="form-group">
      <label for="meeting_time">Meeting Time:</label>
      <input type="time" id="meeting_time" value="08:00" step="600" />
    </div>

    <div class="form-group">
      <label for="meeting_location">Meeting Location:</label>
      <input type="text" id="meeting_location" placeholder="Meeting location" />
    </div>

    <div class="form-group">
      <label for="permits_required">Permits Required:</label>
      <input
        type="text"
        id="permits_required"
        placeholder="Permits Required (State Trust, Tonto, etc...)"
      />
    </div>

    <div class="form-group">
      <label for="vehicular_requirements">Vehicular Requirements:</label>
      <textarea
        id="vehicular_requirements"
        autocomplete="true"
        spellcheck="true"
        rows="3"
        placeholder='4x4, 33" tires, rear locker, etc... '></textarea>
    </div>

    <div class="form-group">
      <label for="invite">Invite:</label>
      <select name="invite" id="invite">
        <option value="open" selected>Guests Welcome</option>
        <option value="members-only">Members Only</option>
        <option value="invite-only">Invite Only</option>
      </select>
    </div>

    <button id="print-form-button">Print/Save</button>
  </form>

  <script>
    import { BuildUpdatedForm } from "@lib/submission_form";
    import { DateTime } from "luxon";
    import type { EventDetails } from "@lib/submission_form";

    document.addEventListener("astro:page-load", () => {
      const event_details_form = document.getElementById(
        "event-details",
      ) as HTMLFormElement | null;
      const print_form_button = document.getElementById(
        "print-form-button",
      ) as HTMLButtonElement | null;

      if (!print_form_button || !event_details_form) {
        return;
      }

      function GetEventDetails(): EventDetails {
        function GetFormValue(input_id: string): string | undefined {
          let element = document.getElementById(
            input_id,
          ) as HTMLFormElement | null;
          return element ? element.value : undefined;
        }

        let date_of_run = undefined;
        {
          const date_of_run_input = document.getElementById(
            "date_of_run",
          )! as HTMLInputElement;
          if (date_of_run_input.value) {
            date_of_run = DateTime.fromFormat(
              date_of_run_input.value,
              "yyyy-MM-dd",
              { zone: "America/Phoenix" },
            );
            if (!date_of_run.isValid) {
              date_of_run = undefined;
            }
          }
        }

        let meeting_time = undefined;
        {
          const meeting_time_input = document.getElementById(
            "meeting_time",
          )! as HTMLInputElement;
          if (meeting_time_input.value) {
            meeting_time = DateTime.fromFormat(
              meeting_time_input.value,
              "HH:mm",
              { zone: "America/Phoenix" },
            );
            if (!meeting_time.isValid) {
              meeting_time = undefined;
            }
          }
        }

        return {
          trail_name: GetFormValue("trail_name"),
          date_of_run: date_of_run,
          time_of_run: meeting_time,
          meeting_location: GetFormValue("meeting_location"),
          permits_required: GetFormValue("permits_required"),
          vehicular_requirements: GetFormValue("vehicular_requirements"),

          // safe so long as the select <option> values are correctly specified
          invite: GetFormValue("invite") as
            | "open"
            | "members-only"
            | "invite-only",
        };
      }

      function RebuildPDF() {
        if (!event_details_form) {
          return;
        }
        console.log("rebuild pdf");
        BuildUpdatedForm(GetEventDetails());
      }

      print_form_button.onclick = () => RebuildPDF();
    });
  </script>
</AboutLayout>

<style>
  input,
  textarea {
    min-width: 0;
  }

  form {
    font: inherit;
    display: grid;

    gap: var(--fs-400);

    .form-group {
      display: grid;
    }

    label {
      text-transform: uppercase;
      font-size: var(--fs-300);
    }

    select {
      width: fit-content;
    }

    button {
      width: fit-content;
      padding: 0.5rem 1rem;
      background: var(--accent);
      border: 0px;
    }

    input[type="date"],
    input[type="time"] {
      width: fit-content;
    }
  }
</style>
