---
import AboutLayout from "@layouts/AboutLayout.astro";
---

<AboutLayout title="Required Gear">
  <ul>
    <li><p>4x4 capable vehicle</p></li>
    <li>
      <p>recovery gear you might need (static strap, soft shackle, etc...)</p>
    </li>
    <li><p>water (~1 gallon per person per day in the desert)</p></li>
    <li><p>lunch, snacks, always bring extra</p></li>
    <li><p>tools and relevant repair equipment based on your needs</p></li>
  </ul>
</AboutLayout>

<style></style>
