---
import MembersLayout from "@layouts/MembersLayout.astro";
import MemorialCard from "@components/members/MemorialCard.astro";

import path from "node:path";
import { Image } from "astro:assets";

function loadMemorialImages(): Record<string, ImageMetadata> {
  const members = import.meta.glob<{ default: ImageMetadata }>(
    "../../assets/pages/members/in-memory-of/*",
    { eager: true },
  );
  const filenames: Record<string, ImageMetadata> = {};
  for (const [imagePath, image] of Object.entries(members)) {
    filenames[path.basename(imagePath)] = image.default;
  }
  return filenames;
}

const memberImages = loadMemorialImages();
---

<MembersLayout title="CS4W: In Memory Of">
  <section class="content">
    {
      [
        ["bill-barrier-1.jpg", "bill-barrier-2.jpg"],
        ["moe-1.jpg", "moe-2.jpg"],
        ["pamela-1.jpg", "pamela-2.jpg"],
        ["roger-williams-1.jpg", "roger-williams-2.jpg"],
      ].map(([profile, card]) => (
        <div class="card">
          <Image src={memberImages[profile]} alt="Memorial Picture" />
          <Image src={memberImages[card]} alt="Memorial Picture" />
        </div>
      ))
    }
  </section>
</MembersLayout>

<style>
  section {
    background: white;
  }

  .card {
    display: flex;
    flex-flow: row wrap;
    background: white;
    align-items: center;
    justify-content: space-evenly;
    margin-block: var(--fs-500);

    img {
      width: 50%;
      min-width: 10rem;
    }
  }
</style>
