---
import MembersLayout from "@layouts/MembersLayout.astro";
import Card from "@components/members/Card.astro";

const members = [
  ["jim-and-kathy.jpg", "Jim and Kathy N."],
  ["kenny-b.jpg", "Kenny B."],
  ["chris-d.jpg", "Chris D."],
  ["elisabeth-s.jpg", "Elisabeth S."],
  ["chad-c.jpg", "Chad C."],
  ["paul-y.jpg", "Paul Y."],
  ["roland-s.jpg", "Roland S."],
  ["bruce-m.jpg", "Bruce M."],
  ["jennifer-b.jpg", "Jennifer B."],
  ["mike-k.jpg", "Mike K."],
  ["craig-and-lynda-g.jpg", "Craig & Lynda G."],
  ["leo-m.jpg", "Leo M."],
  ["kit-and-michelle.jpg", "Kit & Michelle"],
  ["mike-r.jpg", "Mike R."],
  ["larry-b.jpg", "Larry B."],
  ["donna-s.jpg", "Donna S."],
  ["ron-b.jpg", "Ron B."],
  ["bradley-l.jpg", 'Bradley "Walrus" L.'],
  ["mark.jpg", "Mark"],
];

// shuffle the list of members each time the page is generated
for (let i = 0; i < members.length; i++) {
  const j = Math.floor(members.length * Math.random());
  [members[i], members[j]] = [members[j], members[i]];
}
---

<MembersLayout title="CS4W: Members">
  <section class="ultrawide">
    <div class="autocolumn">
      {
        members.map(([imagePath, caption]) => (
          <Card imagePath={imagePath} caption={caption} />
        ))
      }
    </div>
  </section>
</MembersLayout>

<style>
  .autocolumn {
    --column-width: 15rem;
  }
</style>
