html {
  background-color: #f5d5ba;
  color: #272b36;
}

.nav-links {
  display: none;
}

.nav-links.expanded {
  display: block;
}

.hamburger {
  padding: 1em;
  cursor: pointer;
}
.hamburger .line {
  display: block;
  width: 2em;
  height: 0.4em;
  margin-bottom: 0.2em;
  background-color: #ffffff;
}
