@charset "utf-8";

$erie-black: #262626;
$steel-blue: #497AAB;
$baby-powder: #F0F4EF;
$copper: #AE7947;
$mint: #66A378;
$jonquil: #EFC81A;
$rust: #B85128;

@use "~bulma/sass" with (
  // Text
  $family-primary: '"Noto Sans", sans-serif',

  // Colors
  $text: $erie-black,
  $link: $steel-blue,
  $primary: $baby-powder,
  $info: $copper,
  $success: $mint,
  $warning: $jonquil,
  $danger: $rust,
);
