---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="Current Members"
  description="Photos of the club's current members."
>
  <section>
    <h2>Current Members</h2>
    <p>TODO</p>
  </section>
</BaseLayout>

<style></style>
