---
import BaseLayout from "../../layouts/BaseLayout.astro";
import MemberCard from "../../components/MemberCard.astro";
import fs from "node:fs";

// relative to project root
let member_images = fs.globSync("./src/images/members/*");
member_images.toSorted();
---

<BaseLayout
  pageTitle="Current Members"
  description="Photos of the club's current members."
>
  <section>
    <h2>Current Members</h2>

    {
      member_images.map((path) => (
        <MemberCard path={path} />
      ))
    }
  </section>
</BaseLayout>

<style></style>
