---
import BaseLayout from "../../layouts/BaseLayout.astro";
import MemberCard from "../../components/MemberCard.astro";
import { globSync } from "glob";

// relative to project root
let member_images = globSync(
  "./src/images/members/*"
).toSorted((a, b) => a.localeCompare(b));
---

<BaseLayout
  pageTitle="Current Members"
  description="Photos of the club's current members."
>
  <section>
    <h2>Current Members</h2>

    {
      member_images.map((path) => (
        <MemberCard path={path} />
      ))
    }
  </section>
</BaseLayout>

<style></style>
