---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="Membership"
  description="Formal requirements and bylaws for joining the Copperstate4Wheelers."
>
  <section>
    <h2>Membership</h2>

    <h3>GENERAL REQUIREMENTS</h3>

    <ol>
      <li>
        ONLY THOSE PERSONS LEGALLY RESPONSIBLE FOR
        MAINTAINING A CURRENTLY REGISTERED AND INSURED FOUR
        WHEEL DRIVE VEHICLE WITH A MANUFACTURER’S DRY CURB
        WEIGHT OF AT LEAST TWO THOUSAND (2000) POUNDS OR
        GREATER ARE ELIGIBLE FOR MEMBERSHIP IN THE
        COPPERSTATE 4-WHEEL DRIVE CLUB.
        <ol>
          <li>
            MEMBERS NO LONGER RESPONSIBLE FOR A FOUR WHEEL
            DRIVE VEHICLE SHALL REPLACE IT WITHIN 12 MONTHS
            IN ORDER TO "MAINTAIN THEIR MEMBERSHIP."
          </li>

          <li>
            "LEGALLY RESPONSIBLE," INCLUDES MAINTAINING
            CURRENT REGISTRATION, INSURANCE, AND MAINTENANCE
            OF THAT VEHICLE.
          </li>
        </ol>
      </li>

      <li>
        EACH MEMBERSHIP INCLUDES THE IMMEDIATE FAMILY.
      </li>

      <li>
        ALL MEMBERS MUST CONDUCT THEMSELVES IN A
        RESPONSIBLE, RESPECTABLE, AND ORDERLY FASHION WHEN
        ASSOCIATED WITH CLUB ACTIVITIES.
      </li>

      <li>
        ALL MEMBERS SHALL BE 18 YEARS OF AGE OR OLDER, HAVE
        A VALID, CURRENT DRIVER’S LICENSE.
      </li>

      <li>
        REVIEW AND SIGN THE APPLICATION CONFIRMING THAT THEY
        HAVE READ, UNDERSTAND, AND WILL ABIDE BY THE CLUB
        BYLAWS.
      </li>
    </ol>

    <h3>OBTAINING MEMBERSHIP</h3>
    <ol>
      <li>
        AN APPLICANT FOR MEMBERSHIP CAN OBTAIN AN
        APPLICATION FROM THE CLUB SECRETARY AS WELL AS A
        COPY OF THE CLUB BYLAWS.
      </li>

      <li>
        APPLICANTS FOR MEMBERSHIP MUST:

        <ol>
          <li>
            MEET MEMBERSHIP REQUIREMENTS RELATED TO AGE,
            LICENSE, REGISTRATION AND INSURANCE
          </li>

          <li>
            ATTEND TWO GENERAL MEMBERSHIP MEETING AND DRIVE
            TWO MONTHLY RUN. THIS REQUIREMENT MUST BE
            COMPLETED WITHIN A PERIOD NOT TO EXCEED THREE
            (6) CALENDAR MONTHS. EXCEPTION TO THIS
            REQUIREMENT MAY BE MADE BY A DECISION OF THE
            BOARD OF DIRECTORS.
          </li>
        </ol>
      </li>
    </ol>

    <h3>Reference</h3>

    <ul>
      <li>Dues: $50 annually</li>
      <li>
        <a
          href="/membership_application.pdf"
          target="_blank"
        >
          Membership Application
        </a>
      </li>
      <li>
        <a href="/bylaws.pdf" target="_blank">Bylaws</a>
      </li>
    </ul>
  </section>
</BaseLayout>

<style>
  h3 {
    padding-top: 2rem;
  }

  li {
    padding: 0.75rem 0rem;
  }

  ol {
    list-style-type: decimal;

    ol {
      list-style-type: lower-alpha;
    }
  }
</style>
