---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="In Memory Of"
  description="Memorial for CS4W members who are no longer with us."
>
  <section>
    <h2>In Memory Of</h2>
    <p>TODO</p>
  </section>
</BaseLayout>

<style></style>
