---
import BaseLayout from "../../layouts/BaseLayout.astro";

import { Picture } from "astro:assets";
import copperstate_logo from "../../images/copperstate_logo.png";
import adopt_a_trail from "../../images/adopt-a-trail.jpg";
import bulldog_canyon from "../../images/bulldog-canyon.jpg";
---

<BaseLayout
  pageTitle="About Us"
  description="All about the Copperstate4Wheelers."
>
  <section>
    <h2>About Us</h2>
    <Picture
      src={copperstate_logo}
      alt="Copperstate4Wheelers Logo"
      class="float-right"
      widths={[512]}
    />
    <p>
      This club was formed and incorporated March 31, 1972
      by a group of families to promote safe enjoyable
      family style 4 wheeling. We operate as a non-profit
      dues paying club with elected officers and democratic
      participation by all members families. No member
      receives pay for time spent on behalf of the club. Our
      club by-laws are operating documents are available
      from the club president, or the secretary on request.
      Our club meets to carry out the routine club business,
      plan activities, and develop or discuss new ideas.
      This meeting is limited to one hour by our by-laws. At
      least one club sponsored trip is available each month.
      The time and date of these trips are discussed at our
      monthly meetings and will be posted on the calendar
      page. Each trip or outing is planned by a club member
      who is referred to as the trail leader or his trip or
      outing. The trail leader is in charge of, but not
      responsible for each person who attends the trip or
      outing. This club is dedicated to the premise that our
      environment and our outdoor heritage must be
      protected, therefore the willful destruction of
      private or public property or the needless
      disfigurement of our land will not be tolerated.
      Guests as well as members are expected to be
      conscientious in this respect leaving nothing on a
      trip but a few tire tracks.
    </p>
  </section>

  <section>
    <h2>Membership</h2>

    <p>
      Becoming a member is easy! The short of it is, become
      a member by doing the following: own a 4x4 capable
      vehicle, come to club meetings, come to club runs,
      have fun with us!
    </p>

    <div class="current-and-past-members">
      <a href="/about/how-to-join">How To Join</a>
      <a href="/about/current-members">Current Members</a>
      <a href="/about/in-memory-of">In Memory Of</a>
    </div>
  </section>

  <section>
    <h2>Bulldog Canyon</h2>

    <Picture
      src={adopt_a_trail}
      alt="Adopt a trail logo"
      class="float-right logo"
    />
    <p>
      Copperstate4Wheelers has adopted the Bulldog Canyon
      OHV area and periodically visits the area for trash
      cleanup and trail maintenence. We often work with TRAL
      or the Tonto National Forest.
    </p>

    <Picture
      class="bulldog-canyon-map"
      src={bulldog_canyon}
      alt="Bulldog Canyon map"
    />
  </section>
</BaseLayout>

<style>
  .float-right {
    width: 30ch;
    float: right;
    border-radius: 0.5rem;
  }

  .logo {
    width: 10ch;
    border-radius: 1rem;
    margin-top: 1rem;
  }

  .bulldog-canyon-map {
    padding: 1rem 0rem;
    border-radius: 0.5rem;
  }

  .current-and-past-members {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    justify-content: space-evenly;

    a {
      text-decoration: none;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: var(--highlight-200);

      &:hover,
      &:focus-visible {
        background-color: var(--highlight);
        color: var(--secondary);
      }
    }
  }
</style>
