---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="CS4W: Not Found">
  <section class="container">
    <h2>Not Found</h2>
    <p>Woops! Looks like you lost the trail.</p>
  </section>
</BaseLayout>

<style>
  .container {
    text-align: center;
  }
</style>
