---
import "@fontsource/montserrat";
import "modern-normalize/modern-normalize.css";
import Navbar from "@components/Navbar.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import IndexClubHero from "@components/IndexClubHero.astro";
---

<BaseLayout title="Copperstate4Wheelers">
  <Navbar />

  <main>
    <IndexClubHero />

    <div class="content"></div>
    <div class="content2"></div>
  </main>

  <footer>
    <p>something in the footer</p>
  </footer>
</BaseLayout>

<style>
  main {
    background-color: cornflowerblue;
  }

  .content {
    height: 50vh;
    background-color: blue;
  }
  .content2 {
    height: 50vh;
    background-color: yellow;
  }
</style>
