---
import { Image } from "astro:assets";

import BaseLayout from "@layouts/BaseLayout.astro";

import Navbar from "@components/Navbar.astro";
import IndexClubHero from "@components/IndexClubHero.astro";
import LinkButton from "@components/LinkButton.astro";

import WalnutCanyon from "@assets/pages/index/2025_04_Walnut_Canyon.jpg";
---

<BaseLayout title="Copperstate4Wheelers">
  <Navbar />

  <main>
    <IndexClubHero />

    <section>
      <h2>- About Us -</h2>
      <div class="autogrid">
        <article>
          <h3>Mission</h3>
          <p>
            We are a nonprofit club dedicated to promoting safe, enjoyable, and
            family-friendly off-roading. Whether you're just getting started or
            a long-time enthusiast, we're bound to have something planned that
            you will enjoy!
          </p>
          <LinkButton href="#">Learn More!</LinkButton>
        </article>

        <Image
          src={WalnutCanyon}
          alt="The day we went to Walnut Canyon in April 2025."
          title="Walnut Canyon, April 2025"
          width="1920"
        />
      </div>
    </section>

    <section>
      <h2>- What We Do -</h2>
      <div class="autogrid">
        <article>
          <h3>Something</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Aspernatur, nostrum? Possimus blanditiis illum perferendis nihil
            recusandae architecto ipsa amet ea natus, consequatur explicabo
            repellendus reiciendis sed optio eos tenetur magnam.
          </p>
        </article>
        <article>
          <h3>Something</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Aspernatur, nostrum? Possimus blanditiis illum perferendis nihil
            recusandae architecto ipsa amet ea natus, consequatur explicabo
            repellendus reiciendis sed optio eos tenetur magnam.
          </p>
        </article>
        <article>
          <h3>Something</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Aspernatur, nostrum? Possimus blanditiis illum perferendis nihil
            recusandae architecto ipsa amet ea natus, consequatur explicabo
            repellendus reiciendis sed optio eos tenetur magnam.
          </p>
        </article>
        <article>
          <h3>Something</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Aspernatur, nostrum? Possimus blanditiis illum perferendis nihil
            recusandae architecto ipsa amet ea natus, consequatur explicabo
            repellendus reiciendis sed optio eos tenetur magnam.
          </p>
        </article>
      </div>
    </section>
  </main>

  <footer>
    <p>something in the footer</p>
  </footer>
</BaseLayout>

<style>
  main {
    background-color: var(--secondary);
  }

  section {
    margin: 0 2rem;
  }

  section h2 {
    font-size: 5rem;
    padding: 0;
    margin: 4rem;
    text-align: center;
  }

  article h3 {
    font-size: 3rem;
    padding: 0;
    margin: 1rem 0rem;
  }

  section article {
    font-size: 1.5rem;
    text-align: left;
  }

  section img {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }
</style>
