---
import Navbar from "@components/Navbar.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import IndexClubHero from "@components/IndexClubHero.astro";
---

<BaseLayout title="Copperstate4Wheelers">
  <Navbar />

  <main>
    <IndexClubHero />

    <section class="content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas
        eligendi esse est eveniet ipsa consequuntur eos, illum autem, ducimus
        architecto earum eius impedit libero repellat tenetur id porro tempora
        accusamus.
      </p>
      <p>image goes here</p>
    </section>
    <section class="content2"></section>
  </main>

  <footer>
    <p>something in the footer</p>
  </footer>
</BaseLayout>

<style>
  main {
    background-color: var(--tan);
    color: var(--black);
  }

  section {
    h2 {
      font-size: 3rem;
    }
  }

  .content2 {
    height: 50vh;
    background-color: yellow;
  }
</style>
