---
const now = new Date();
---

<footer>
  <p>Copyright &copy; Copperstate4Wheelers {now.getFullYear()}</p>
</footer>

<style>
  footer {
    display: grid;
    background-color: var(--primary-700);
    color: var(--secondary);
    min-height: 10em;
    place-items: center;
  }
</style>
