---
const now = new Date();
---

<footer>
  <div class="container">
    <span>Copyright {now.getFullYear()} &copy; Copperstate4Wheelers</span>
  </div>
</footer>

<style>
  footer {
    display: grid;
    background-color: var(--primary-700);
    color: var(--secondary);
    min-height: 10em;
    place-items: center;

    span {
      word-wrap: break-word;
    }
  }
</style>
