---
/**
 * The site-wide "Link Button" style. Basically, any time the site highlights
 * a link to another bage as a call to action, this component should be a
 * reasonable default.
 **/

interface Props {
  href: string;
  class?: string;
}

const { href, class: className = "", ...rest } = Astro.props;
---

<a href={href} class={`button primary bg-accent fs-400 ${className}`} {...rest}>
  <slot />
</a>

<style>
  .button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.4em;
    font-weight: 600;

    display: inline-grid;
    place-items: center;
    place-content: center;
  }

  .button:hover,
  .button:focus-visible {
    background: var(--accent-300);
  }
</style>
