---
/**
 * Navbar philosophy: mobile first and progressively enhance on wider screens.
 * CSS variables used:
 * --navbar-background: background color
 * --text-primary: primary text color
 * --text-highlight: text highlight color
 */
---

<header>
  <h1 class="logo">
    <a href="#">
      Copperstate4Wheelers
      <span class="visually-hidden">Copperstate4Wheelers</span>
    </a>
  </h1>
  <input type="checkbox" id="nav-toggle" class="nav-toggle" />
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Members</a></li>
      <li><a href="#">Events</a></li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>

<style>
  header {
    --navbar-background: var(--blue);
    background: var(--navbar-background);
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 999; /* always on top */
    width: 100%;
    --margin: 2em;
  }

  .logo {
    display: block;
    font-weight: 900;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }

  .logo a {
    display: block;
    padding: 0;
    margin: 0.5em;
    text-decoration: none;
    color: var(--text-primary);
  }

  nav {
    background: var(--navbar-background);
    position: absolute; /* relative to the header due to pos: fixed */
    text-align: left;
    top: 100%;
    left: 0%;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top left;
    transition: transform 400ms ease-out;
  }

  nav ul {
    margin: 0;
    padding: 0;
    margin-top: calc(var(--margin) * 0.5);
    list-style: none;
  }

  nav li {
    margin-bottom: var(--margin);
    margin-left: var(--margin);
  }

  nav a {
    font-weight: bold;
    color: var(--text-primary);
    text-decoration: none;
    letter-spacing: 0.05ch;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  nav a:hover {
    color: var(--text-highlight);
  }

  .nav-toggle {
    position: absolute !important;
    left: -9999px !important;
    top: -9999px !important;
  }

  .nav-toggle:checked ~ nav {
    transform: scale(1, 1);
  }

  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 200ms ease-in-out 200ms;
  }

  .nav-toggle:focus ~ .nav-toggle-label {
    outline: 2px solid var(--text-primary);
  }

  .nav-toggle-label {
    cursor: pointer;
    position: absolute;
    top: 0%;
    left: 0;
    margin-left: var(--margin);
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    --thickness: 0.25em;
    display: block;
    background: var(--text-primary);
    height: var(--thickness);
    width: calc(2em);
    border-radius: 2px;
    position: relative;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    position: absolute;
    content: "";
  }

  .nav-toggle-label span::before {
    bottom: calc(var(--thickness) * 2);
  }

  .nav-toggle-label span::after {
    top: calc(var(--thickness) * 2);
  }

  /* "desktop" styles */
  @media screen and (min-width: 768px) {
    .nav-toggle-label {
      display: none;
    }

    header {
      display: grid;
      grid-template-columns: 1fr auto minmax(auto, 3fr) 1fr;
    }

    .logo {
      font-size: 2.25rem;
      grid-column: 2 / span 1;
    }

    nav {
      all: unset;
      grid-column: 3 / span 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    nav a {
      opacity: 1;
      position: relative;
    }

    nav ul {
      display: flex;
      margin: 0;
    }

    nav li {
      margin-left: 2em;
      margin-bottom: 0;
    }

    nav a::before {
      content: "";
      height: 0.25em;
      border-radius: 0.2em;
      background: var(--orange);
      position: absolute;
      left: 0;
      right: 0;
      top: -0.75em;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
    }

    nav a:hover::before,
    nav a:focus-visible::before {
      transform: scale(1, 1);
    }
  }
</style>
