---
import { Image } from "astro:assets";
import { DateTime } from "luxon";
import logo from "@assets/site/copperstate_logo.png";

/**
 * Navbar philosophy: mobile first and progressively enhance on wider screens.
 * CSS variables used:
 * --navbar-background: background color
 * --navbar-text: the text color for links and text-like elements (menu etc..)
 */

function classForLink(name: string) {
  name = name.toLowerCase();

  let path = Astro.url.pathname.split("/");
  if (path.length >= 2 && name == path[1]) {
    return `active-nav`;
  } else {
    return `inactive-nav`;
  }
}
---

<header transition:animate="none" class="bg-primary accent fs-600">
  <h1 class="site-title">Copperstate4Wheelers</h1>

  <nav class="site-nav content-grid">
    <div class="ultrawide nav-container">
      <a href="/">
        <Image
          class="nav-logo"
          src={logo}
          alt="Copperstate4Wheelers.com Logo"
          width="256"
        />
      </a>

      <label class="fs-600 nav-toggle-label" for="nav-toggle">
        <span></span>
      </label>

      <input type="checkbox" id="nav-toggle" class="nav-toggle" />
      <ul class="nav-links">
        <li><a href="/" class={classForLink("")}>Home</a></li>
        <li><a href="/about" class={classForLink("about")}>About</a></li>
        <li><a href="/members" class={classForLink("members")}>Members</a></li>
        <li>
          <a
            href={`/events/${DateTime.local({ zone: "America/Phoenix" }).year}`}
            class={classForLink("events")}
          >
            Events
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<style>
  header {
    z-index: 999;

    /* remove the toggle from the document, but still support tab-focus */
    .nav-toggle {
      position: fixed;
      right: -9999px !important;
      bottom: -9999px !important;
    }

    .site-title {
      position: fixed;
      right: -9999px;
      bottom: -9999px;
    }
  }

  .site-nav {
    position: relative;
    grid-column: -1 / 1;
  }

  .nav-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .nav-logo {
    width: auto;
    height: 2.5em;
    margin-block: 0.5em;
  }

  .nav-toggle-label {
    --height: 1em;
    --width: 1em;

    --step: calc(var(--height) / 5);

    display: block;
    width: var(--width);
    height: var(--height);
    flex-shrink: 0;

    span {
      position: relative;
      display: block;
      height: 20%;
      border-radius: 0.5em;
      background: var(--accent);
    }

    span::before,
    span::after {
      position: absolute;
      content: "";
      display: block;
      height: var(--step);
      width: 100%;
      background: var(--accent);
      border-radius: 0.5em;
    }

    span::before {
      top: calc(var(--step) * 2);
    }

    span::after {
      top: calc(var(--step) * 4);
    }
  }

  .nav-links {
    order: 1; /* always the last flex item */
    width: 100%;
    position: absolute;
    background: var(--primary);
    grid-column: fullwidth;

    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;

    list-style: none;
    text-align: right;

    display: block;
    transform: scale(1, 0);
    transition: transform ease-in-out 400ms;
    transform-origin: top;

    a {
      position: relative;
      display: block;
      font-size: var(--fs-500);
      font-weight: 600;

      margin-block: 1em;
      text-decoration: none;
      color: var(--secondary);
      text-align: center;
      opacity: 0;
      transition: opacity ease 250ms;

      &.active-nav {
        color: var(--accent);
      }

      &:hover,
      &:focus-visible {
        color: var(--accent);
      }
    }
  }

  .nav-toggle:checked ~ .nav-links {
    transform: scale(1, 1);

    a {
      opacity: 1;
      transition: opacity 250ms ease 250ms;
    }
  }

  /* desktop stop  */
  @media screen and (width > 50rem) {
    .nav-toggle-label {
      display: none;
    }

    .nav-links {
      all: unset;

      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-evenly;
      gap: 1em;
      position: static;
      list-style: none;
      margin: 0;
      padding: 0;

      a {
        opacity: 1;

        &:before {
          position: absolute;
          display: inline-block;
          content: "";
          width: 100%;
          left: 0;
          right: 0;
          bottom: 0;
          height: 0.125em;
          background: var(--accent);
          border-radius: 0.125em;
          transform: scale(0, 1);
          transition: transform ease 200ms;
        }

        &:hover,
        &:focus-visible {
          &:before {
            transform: scale(1);
          }
        }
      }
    }
  }
</style>
