---
/**
 * A subnavigation menu for a region of the website with multiple subpages.
 **/
interface Props {
  /**
   * Title for the subnav section. This is expected to be the title of the
   * page and is an h2.
   **/
  title: string;

  /**
   * Links should be provided in the form ["/link/to/page", "link text"].
   **/
  links: [string, string][];
  class?: string;
}

/**
 * Automatically generate the href and class for topic links. This makes it
 * easy to apply additional styling to the active topic link.
 **/
function navLink(href: string): any {
  const { url } = Astro;
  const pathname = url.pathname.replace(/\/$/, ""); // trim trailing slash

  let className = "subnav-link";

  if (pathname.endsWith(href)) {
    className += " active-subnav-link";
  }
  return { href, class: className };
}

const { title, links, class: className = "", ...rest } = Astro.props;
---

<nav class={`${className}`} transition:animate="none" {...rest}>
  <h2>{title}</h2>

  <ul class="subpage-nav fs-400 autocolumn auto-fill">
    {
      links.map(([href, content]) => {
        return (
          <li>
            <a {...navLink(href)}>{content}</a>
          </li>
        );
      })
    }
  </ul>
</nav>

<style>
  h2 {
    margin-bottom: 0.25em;
  }

  nav {
    margin-bottom: var(--fs-400);
  }

  .subpage-nav {
    --column-width: 10rem;
    /*
    display: flex;
    flex-flow: row wrap;
  */
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-start;

    li {
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
    }
  }

  .subnav-link {
    display: inline-block;
    font-size: var(--fs-400);
    font-weight: 600;
    padding: 0.75em;
    color: var(--primary);

    &:hover,
    &:focus-visible {
      background: var(--secondary-500);
    }
  }

  .active-subnav-link {
    position: relative;

    &:after {
      position: absolute;
      display: inline-block;
      content: "";
      width: 100%;
      height: 0.25em;
      bottom: 0;
      left: 0;
      right: 0;
      background: var(--accent);
    }
  }
</style>
