---
import { Icon } from "astro-icon/components";
---

<button id="dark-mode-toggle">
  <Icon
    class="light-mode"
    name="material-symbols:dark-mode-outline-rounded"
    width="2em"
    height="2em"
  />
  <Icon
    class="dark-mode"
    name="material-symbols:light-mode-outline-rounded"
    width="2em"
    height="2em"
  />
</button>

<script>
  function GetSystemPreferredTheme(): string {
    if (!window.matchMedia) {
      return "dark";
    }

    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    } else {
      return "light";
    }
  }

  const root = document.documentElement;

  root.dataset.theme =
    localStorage.getItem("theme") ?? GetSystemPreferredTheme();

  const dark_mode_toggle = document.getElementById("dark-mode-toggle");
  dark_mode_toggle?.addEventListener("click", () => {
    let theme = root.dataset.theme ?? "dark";
    if (theme == "light") {
      root.dataset.theme = "dark";
      localStorage.setItem("theme", "dark");
    } else {
      root.dataset.theme = "light";
      localStorage.setItem("theme", "light");
    }
  });
</script>

<style>
  button {
    display: flex;
    align-items: center;

    background: transparent;
    border: none;
    cursor: pointer;
  }

  html[data-theme="light"] {
    .light-mode {
      display: inline-block;
    }

    .dark-mode {
      display: none;
    }
  }

  html[data-theme="dark"] {
    .light-mode {
      display: none;
    }

    .dark-mode {
      display: inline-block;
    }
  }
</style>
