---
import { Icon } from "astro-icon/components";
---

<footer>
  <p>
    Copyright, Copperstate4Wheelers &copy; {new Date().getFullYear()}
    | All rights reserved.
  </p>
  <ul>
    <li>
      <a
        href="https://www.facebook.com/groups/877400619621447/"
        target="_blank"
      >
        <span class="visually-hidden">Copperstate4Wheelers on Facebook</span>
        <Icon size="2rem" name="mdi:facebook" />
      </a>
    </li>
  </ul>
</footer>

<style>
  footer {
    border-top: 0.1rem solid var(--highlight-200);
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      overflow: hidden;
    }

    ul {
      padding: 0px;
      margin: 0px;
      list-style: none;
      display: flex;
    }

    a {
      padding: 1rem;
      display: inline-block;
      transition: transform 300ms linear;

      svg {
        width: 2rem;
        height: 2rem;
      }

      :hover,
      :focus-visible {
        transform: rotate(5deg) scale(1.1);
      }
    }
  }
</style>
