---

---

<footer>
  <p>Copyright &copy; {new Date().getFullYear()}, Copperstate4Wheelers</p>
</footer>

<style>
  footer {
    border-top: solid 1px hsl(from var(--primary) h s l / 0.35);
  }
</style>
