---
/**
 * Pairs an inline Icon with a line of text.
 **/

import Icon from "astro-iconify";

interface Props {
  icon: string;
  class?: string;
}

const { icon, class: className = "", ...rest } = Astro.props;
---

<div class={`icon-text ${className}`} {...rest}>
  <Icon name={icon} />
  <span><slot /></span>
</div>

<style>
  .icon-text {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;

    span {
      padding: 0;
      margin: 0;
    }

    svg {
      height: 1em;
      width: 1em;
      min-width: 1em;
      min-height: 1em;
    }
  }
</style>
