---
/**
 * The home page hero section.
 **/

import { Image } from "astro:assets";

import MontanaMountain from "@assets/pages/index/2024_05__montana_mountain.jpg";
---

<div class="fullwidth hero bg-primary">
  <Image
    src={MontanaMountain}
    alt="Copperstate4Wheelers on Montana Mountain."
    decoding="async"
    loading="lazy"
    width="1920"
    class="background fullwidth"
  />
  <div class="overlay fullwidth"></div>
  <div class="content ultrawide">
    <p class="hero-title ff-title fs-800">Copperstate 4 Wheelers</p>
    <p class="hero-subtitle fs-500">Family friendly offroading since 1972</p>
  </div>
</div>

<style>
  .hero {
    --max-height: 70vh;

    display: grid;
    grid-template-rows: var(--max-height);
    overflow: hidden;
    max-height: var(--max-height);

    & > * {
      place-self: center;
      grid-row: 1 / 2;
    }
  }

  .background {
    display: block;
    width: 100%;
    height: var(--max-height);
    max-height: var(--max-height);
    object-fit: cover;

    background-color: var(--primary);
  }

  .overlay {
    width: 100%;
    height: var(--max-height);
    background-color: rgba(0, 0, 0, 0.35);
  }

  .content p {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  }

  .hero-title {
    margin: 0em;
  }
</style>
