---
/**
 * The home page hero section.
 **/

import { Image } from "astro:assets";

import MontanaMountain from "@assets/pages/index/2024_05__montana_mountain.jpg";
---

<div class="hero">
  <Image
    src={MontanaMountain}
    alt="Copperstate4Wheelers on Montana Mountain."
    decoding="async"
    loading="lazy"
    width="1920"
    class="background"
  />
  <div class="overlay"></div>
  <div class="content">
    <p>Family friendly offroading since 1972</p>
  </div>
</div>

<style>
  .hero {
    --max-height: 70vh;

    display: grid;
    grid-template-areas: "stack";

    place-items: center;
    overflow: hidden;
    background-color: var(--primary);

    width: 100%;
    height: var(--max-height);
    max-height: var(--max-height);

    * {
      grid-area: stack;
    }
  }

  .background {
    display: block;
    width: 100%;
    height: 100%;
    max-height: var(--max-height);
    object-fit: cover;

    background-color: blue;
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .content {
    font-size: clamp(2rem, 5vw, 4rem);
    text-align: center;
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  }
</style>
