---
import Subnav from "@components/Subnav.astro";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={`CS4W: ${title}`}>
  <Subnav
    links={[
      ["/about", "Club Info"],
      ["/about/bulldog-canyon", "Bulldog Canyon"],
      ["/about/contact", "Contact"],
      ["/about/how-to-join", "How To Join"],
      ["/about/required-gear", "Required Gear"],
      ["/about/submit-a-run", "Submit A Run"],
    ]}
  />

  <section class="about-content">
    <h2>{title}</h2>
    <slot />
  </section>
</BaseLayout>

<style></style>
