---
import ContentPageLayout from "./ContentPageLayout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<ContentPageLayout title={title}>
  <section class="about-us-navigation" transition:animate="none">
    <h2>About Us</h2>
    <p>Topics</p>
    <ul>
      <li><a href="/about">Club Info</a></li>
      <li><a href="/about/standard-requirements">Standard Requirements</a></li>
    </ul>
  </section>

  <section class="about-content">
    <slot />
  </section>
</ContentPageLayout>
