---
/**
 * The root page layout. This defines the HTML document structure, meta tags,
 * and all root CSS rules.
 */

interface Props {
  // The page title
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /** global styles **/
  :root {
    --green: hsl(134 21% 36%);
    --orange: hsl(15 100% 52%);
    --tan: hsl(26 40% 72%);
    --black: hsl(48 8% 12%);
    --light-black: hsl(48 4% 18%);
    --blue: hsl(209 62% 64%);

    --text-primary: var(--black-hsl);
    --text-highlight: var(--light-black);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
  }

  .visually-hidden {
    display: none;
  }
</style>
