---
import "@fontsource/montserrat";
import "@fontsource/road-rage";
import "modern-normalize/modern-normalize.css";

import GoogleAnalytics from "@components/GoogleAnalytics.astro";

/**
 * The root page layout. This defines the HTML document structure, meta tags,
 * and all root CSS rules.
 */

interface Props {
  // The page title
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <GoogleAnalytics />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /** global styles **/
  :root {
    /**
     * Primary and secondary have good contrast. Either primary is 'color' and
     * secondary is 'background' for many elements.
     **/
    --primary: #02343f; /* midnight green */
    --primary-700: #012128; /* gunmetal */
    --secondary: #f0edcc; /* beige */

    /**
     * Accent pairs well with both primary and secondary. It may not be ideal
     * for simple text, but a highlight or chunky bar could help.
     **/
    --accent: #ef8354; /* coral */

    --text-font: "Montserrat", sans-serif;
    --title-font: "Road Rage", sans-serif;

    --min-column-size: 50ch;
    --max-width: calc(var(--min-column-size) * 5);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: var(--text-font);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    color: var(--primary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary-700);
    font-family: var(--title-font);
    font-optical-sizing: auto;
  }

  .visually-hidden {
    display: none;
  }

  .autogrid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--min-column-size), 100%), 1fr)
    );
    place-items: center;
    margin: 0 auto;
    max-width: var(--max-width);
  }
</style>
