---
import "modern-normalize/modern-normalize.css";

import "@fontsource/montserrat";
import "@fontsource/montserrat/500";
import "@fontsource/montserrat/600";
import "@fontsource/montserrat/700";
import "@fontsource/montserrat/900";
import "@fontsource/road-rage";

import montserratUrl from "@fontsource/montserrat?url";
import roadRageUrl from "@fontsource/road-rage?url";

import GoogleAnalytics from "@components/GoogleAnalytics.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";

import { ClientRouter } from "astro:transitions";
import { SEO } from "astro-seo";

import SocialLogo from "@assets/site/copperstate_logo_social.png";

/**
 * The root page layout. This defines the HTML document structure, meta tags,
 * and all root CSS rules.
 */

interface Props {
  // The page title
  title: string;
}

const { title } = Astro.props;
---

<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <SEO
      title={title}
      description="Copperstate4Wheelers website."
      openGraph={{
        basic: {
          type: "website",
          title: title,
          image: SocialLogo.src,
        },
      }}
    />
    <GoogleAnalytics />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={montserratUrl}
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={roadRageUrl}
      crossorigin="anonymous"
    />

    <title>{title}</title>

    <ClientRouter fallback="none" />
  </head>
  <body>
    <Navbar />

    <main transition:animate="slide">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style is:global>
  :root {
    /**
     * Primary and secondary have good contrast. Either primary is 'color' and
     * secondary is 'background' for many elements.
     **/
    --primary: #02343f; /* midnight green */
    --primary-700: #012128; /* gunmetal */
    --secondary-300: #f5f3e0; /* beige */
    --secondary: #f0edcc; /* beige */

    /**
     * Accent pairs well with both primary and secondary. It may not be ideal
     * for simple text, but a highlight or chunky bar could help.
     **/
    --accent: #ef8354; /* coral */
    --accent-700: #e05215; /* flame */

    --text-font: "Montserrat", sans-serif;
    --title-font: "Road Rage", sans-serif;

    --min-column-size: 45ch;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: var(--text-font);
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--primary);
    background-color: var(--secondary);

    /**
     * Force at least one full screen of content.
     * The footer is always at the bottom and the header is always
     * allocated space at the top.
     **/
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 120vh;
  }

  main {
    background-color: var(--secondary);
  }

  /* typeography */
  p {
    font-size: 1.25rem;
    line-height: 1.25;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary-700);
    font-family: var(--title-font);
    font-optical-sizing: auto;
    font-weight: 400;
  }

  h3,
  h4,
  h5,
  h6 {
    font-family: var(--text-font);
    font-weight: 700;
  }

  h2 {
    font-size: 4rem;
    margin-block: 4rem;
  }
  h3 {
    font-size: 2rem;
    margin-block: 1.5rem;
  }
  h4 {
    font-size: 1.5rem;
    margin-block: 1.5rem;
  }
  h5,
  h6 {
    font-size: 1.5rem;
    margin-block: 1rem;
  }

  /* standard layout */

  .autogrid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--min-column-size), 100%), 1fr)
    );
    place-items: center;
    margin: 0 auto;
  }

  @media screen and (max-width: 768px) {
    .autogrid {
      /* Smaller gap on smaller screens. */
      grid-gap: 0.5rem;
    }
  }

  .container {
    --max-width: calc(var(--min-column-size) * 3);
    width: min(100%, var(--max-width));
    max-width: min(100%, var(--max-width));
    margin: 0 auto;
  }

  iframe {
    display: block;
    max-width: 100%;
    width: 85%;
    margin: auto;
    height: auto;
    aspect-ratio: calc(4 / 3);
    border: 0.2rem solid var(--primary) !important;
  }
</style>
