---
import "modern-normalize/modern-normalize.css";
import "../styles/global.css";

import "@fontsource/montserrat";
import "@fontsource/montserrat/500";
import "@fontsource/montserrat/600";
import "@fontsource/montserrat/700";
import "@fontsource/montserrat/900";
import "@fontsource/road-rage";

import GoogleAnalytics from "@components/GoogleAnalytics.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";

import { SEO } from "astro-seo";

import SocialLogo from "@assets/site/copperstate_logo_social.png";
import montserratUrl from "@fontsource/montserrat?url";
import roadRageUrl from "@fontsource/road-rage?url";

/**
 * The root page layout. This defines the HTML document structure, meta tags,
 * and all root CSS rules.
 */

interface Props {
  // The page title
  title: string;
}

const { title } = Astro.props;
---

<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <SEO
      title={title}
      description="Copperstate4Wheelers website."
      openGraph={{
        basic: {
          type: "website",
          title: title,
          image: SocialLogo.src,
        },
      }}
    />
    <GoogleAnalytics />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={montserratUrl}
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={roadRageUrl}
      crossorigin="anonymous"
    />

    <title>{title}</title>
  </head>
  <body>
    <Navbar />

    <main transition:animate="slide" class="content-grid">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  body {
    /**
     * Force at least one full screen of content.
     * The footer is always at the bottom and the header is always
     * allocated space at the top.
     **/
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    align-items: start;
  }
</style>
