---
/**
 * Content pages do not feature a hero section and are instead focused primarily
 * on written information. These are things like event pages, about pages, etc..
 **/
import BaseLayout from "@layouts/BaseLayout.astro";

interface Props {
  title: string;
  wide?: boolean;
}

const { title, wide = false } = Astro.props;
---

<BaseLayout title={title}>
  <div class={`container ${wide ? "wide" : "narrow"}`}>
    <slot />
  </div>
</BaseLayout>

<style>
  .narrow,
  .wide {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .narrow {
    max-width: 80ch;
  }

  .wide {
    max-width: 120ch;
  }
</style>
